@import "../modules/vars";

.count-down {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: baseline;
    font-size: 9.6em;
    line-height: 0.8em;
    margin: 2rem 0;
    div {
        overflow: hidden;
        max-height: 0.8em;
        width: 0.8em;
        span {
            transition: transform 0.5s linear;
            display: block;
            background-color: transparent; 
            padding: 0 4px 4px;
        }
    }
    .separator {
        padding-bottom: 0.065em;
        width: 0.4em;
        background-color: $colour-darkgrey;
        // border: 1px solid $colour-counternumgrey-mid;
        color: $colour-lightgrey;
        span {
            transform:translateY(-10%);
        }
    }
    .mins, .secs {
        padding: 0 4px 4px;
        background-color: $colour-counternum-lightgrey;
        border: 1px solid $colour-counternum-midgrey;
        color: #000;
        box-shadow: inset 0px 1px 6px rgba(#000, 0.5),
                    inset 0px -1px 8px rgba(#000, 0.5)
    }
    .rolling {
        transform: translateY(-100%);
    }
}