@import "../modules/vars";

.set-timer {
    margin: 2em;
    padding: 1em;
    background-color: rgba($colour-darkgrey, 0.4);
    box-shadow: 0px 4px 4px rgba(#000, 0.25), inset 0px 4px 4px rgba(#fff, 0.15);
    flex: 0 1 250px;
    h3 {
        font-size: 3.6em;
        letter-spacing: 5px;
        color: $colour-accent1;
        margin: 0.2em;
        display: inline-block;
        font-family: $font-stack-2;
    }
    > div {
        /* FLEX STYLES AS CONTAINER */
        display: flex;
        flex-flow: column nowrap;
        font-family: $font-stack-1;
        max-width: 23em;
        margin: 0 auto;
    }
    .row > div {
        display: inline-block;
        padding: 0 0.2em;

    }
    .btn-row {
        > * {
            background-color: $colour-darkgrey;
            color: #fff;
            font-size: 4.8em;
            cursor: pointer;
        }
        > .spacer {
            cursor: inherit;
        }
    }
    .time-set {
        background-color: $colour-lightgrey;
        font-size: 4.8em;
        color: #000;
        letter-spacing: 2px;
    }
}

.time-col-titles {
    &.row div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2em;
    font-weight: 100;
    color: #fff;
    letter-spacing: 0.08em;
    padding: 0.2em;
    background-color: $colour-darkgrey;
    //min-width: 90px;
    /* FLEX STYLES AS CONTAINER */
    flex: 0;
    &:first-child, &:last-child {
        flex: 0 1 90px;
        }
    }
    
}

.row {
    /* FLEX STYLES AS CONTAINER */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &.crement > * {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1em;
    }
    div.spacer {
        background-color: $colour-lightgrey;
        min-width: 1.2rem;
        margin: 0 1px;
        padding-left: 0;
        padding-right: 0;
        &:before {
            content: "\00a0";
        }
    }
    &:last-child {
        margin-top: 1.5em;
    }
}

.set-timer-reset {
        max-width: 0.6em;
    }