@import "./vars";

@mixin phoneheader {
    header {
        background-color: $btn-text;
        h1 {
        color: $colour-accent2;
        font-size: 3em;
        max-height: 6em;
        }
    }
}


@mixin set-time-ctrls-phone {
    .set-timer {
        margin: 1.5em 0 0 0;
        font-size: 0.8em;
        h3 {
            font-weight: normal;
            font-size: 3em;
        }
        .btn-row {
            transition: all 0.4s ease-in-out;
            font-size: 0em;
            visibility: hidden;
        }
        // &.opening {
        //     .btn-row {
        //     }
        // }
        &.open {
            .btn-row {
                visibility: visible;
                font-size: 1em;
            }
        }
    }
}

@mixin timer-display-phone {
    div.count-down {
        font-size: 7.5em;
    }
}
@mixin timer-msg-phone {
    #timer-msg {
        font-size: 2em;
        p {
            margin-bottom: -20px;
            margin-top: 25px;
        }
       
    }
}
    