// IMPORTS
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Chewy');

// VARS

// Colour vars
$colour-canvas: #1B6877;
$colour-accent1: #EB7243;
$colour-accent2: #AD860E;
$colour-darkgrey: #333333;
$colour-lightgrey: #CECECE;
$colour-counternum-lightgrey: #F2F2F2;
$colour-counternum-midgrey: #BDBDBD;
$btn-text: #0B3E48;

// Font vars
$base-font-size: 10px;
$font-stack-1: 'Racing Sans One', cursive;
$font-stack-2: 'Chewy', cursive;

// Flexbox vars
$base-order: 10;

// END OF VARS